<div class="content">
    <div class="row" data-aos="fade-up" data-aos-duration="1100">
        <div class="col-12 text-center text">
            Which scoreboard would you like to see?
        </div>
    </div>
    <div class="row button-row" data-aos="fade-up" data-aos-duration="1200">
        <div class="col-6" id="jcpc-btn" data-aos="zoom-out-right" data-aos-duration="1100">
            <a [routerLink]="'/jcpc'" title="Junior Competitive Programming Contest">
                <button class="primary-button">JCPC</button>
            </a>
        </div>
        <div class="col-6" id="scpc-btn" data-aos="zoom-out-left" data-aos-duration="1100">
            <a [routerLink]="'/scpc'" title="Senior Competitive Programming Contest">
                <button class="primary-button">SCPC</button>
            </a>
        </div>
    </div>
</div>