.scoreboard-freezed-text {
    text-align: center;
    margin-top: 5vh;
}

.last-updated {
    text-align: center;
}

.scoreboard-table {
    max-width: 95vw;
}

.table-dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.header {
    background-color: rgba(71, 71, 71, 0.589);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.rank, .total, .score {
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
}

.name {
    font-weight: 700;
}

.school {
    font-weight: 400;
}

.diff {
    vertical-align: middle;
    transition: .3s;
}

.diff-image {
    transition: .3s;
}

.scoreboard-unavailable {
    margin-top: 15vh;
    margin-bottom: 20vh;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .scoreboard-freezed-text {
        font-size: 5vw;
    }

    .last-updated {
        font-size: 3vw;
    }

    .name {
        font-size: 3vw;
    }

    .school {
        font-size: 2.5vw;
    }

    .scoreboard-table {
        font-size: 12px;
        margin-bottom: 10vh;
        overflow-x: scroll;
    }

    .diff-image {
        height: 15px;
    }

    .diff {
        padding-right: 3vw;
        text-align: left;
    }

    .scoreboard-unavailable {
        font-size: 1.2em;
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

@media only screen and (min-width: 769px) {
    .scoreboard-freezed-text {
        font-size: 2vw;
    }

    .last-updated {
        margin-top: 10px;
        font-size: 1em;
    }

    .name {
        font-size: 16px;
    }

    .school {
        font-size: 12px;
    }

    .scoreboard-table {
        font-size: 14px;
        padding-bottom: 5vh;
    }

    .diff-image {
        height: 25px;
    }

    .diff {
        padding-right: 1.5vw;
        padding-top: 1vh;
        text-align: right;
    }

    .scoreboard-unavailable {
        font-size: 2em;
    }
}