<div class="scoreboard-freezed-text" *ngIf="scoreboardData.type == 'FROZEN'" data-aos="fade-up"
    data-aos-duration="1200">
    Scoreboard freezed
</div>
<div class="last-updated" data-aos="fade-up" data-aos-duration="1300">
    <i>last updated: {{ updatedTime }}</i><br>
    the scoreboard is updated every 30 seconds
</div>
<div class="modal fade" id="teamMemberModal" tabindex="-1" aria-labelledby="teamMemberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-title text-center" id="teamMemberModalLabel">
                    <h4 class="team-name">{{ this.teamName }}</h4>
                    <h6 class="team-institution">{{ this.teamInstitution }}</h6>
                </div>
                <div class="text-center">
                    <div class="team-member-title">
                        Team Member:
                    </div>
                    <div class="team-member">
                        {{ this.teamMember1 }}
                    </div>
                    <div class="team-member">
                        {{ this.teamMember2 }}
                    </div>
                    <div class="team-member">
                        {{ this.teamMember3 }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<div class="scoreboard-table content mx-auto" data-aos="fade-up" data-aos-duration="900">
    <table class="table table-dark">
        <tr class="header">
            <th>#</th>
            <th>Contestants</th>
            <td>Total</td>
            <td *ngFor="let problem of scoreboardData.scoreboard.state.problemAliases">{{ problem }}</td>
        </tr>
        <tr *ngFor="let entry of scoreboardData.scoreboard.content.entries">
            <th class="rank">{{ entry.rank }}</th>
            <th data-toggle="modal" data-target="#teamMemberModal" (click)="selectTeam(entry.contestantJid)"
                class="contestantId">
                <div class="row">
                    <div class="col-12 col-lg-10">
                        <div class="name">
                            {{ getContestantName(entry.contestantJid) }}
                        </div>
                        <div class="university">
                            {{ getContestantUniversity(entry.contestantJid) }}
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 diff">
                        <p>
                            <img src="{{ getDiffImage(entry.contestantJid) }}" alt="" class="diff-image"> &nbsp;
                            {{ getAbsDiff(entry.contestantJid) }}
                        </p>
                    </div>
                </div>
            </th>
            <td
                style="background-color: rgba({{redVal(entry.totalAccepted) }}, {{ greenVal(entry.totalAccepted) }}, 0, 0.7);">
                <div class="total-ac">
                    {{ entry.totalAccepted }}
                </div>
                <div class="total-penalty">
                    {{ entry.totalPenalties }}
                </div>
            </td>
            <td *ngFor="let score of entry.attemptsList; let i=index"
                style="background-color: {{ (entry.problemStateList[i] == 3) ? hiddenResult : (entry.problemStateList[i] == 2) ? firstAc : (entry.problemStateList[i] == 1) ? ac : (score > 0) ? wa : ''}};">
                <div class="score">
                    {{ (entry.problemStateList[i] == 3) ? "?" : (score == 0) ? "" : score }}
                </div>
                <div class="penalty">
                    {{ (entry.problemStateList[i] == 3) ? "?" : (entry.problemStateList[i] == 0 && score > 0)? "-" : (entry.problemStateList[i] == 0 && score == 0)? "" : entry.penaltyList[i] }}
                </div>
            </td>
        </tr>
        <tr class="header">
            <th colspan="3">
                <div class="total-ac">
                    Number of accepted
                </div>
                <div class="total-attempt">
                    Number of attempt
                </div>
            </th>
            <th *ngFor="let problem of scoreboardData.scoreboard.state.problemAliases;let i=index">
                <div class="total-ac">
                    {{ getTotalAccepted(i) }}
                </div>
                <div class="total-attempt">
                    {{ getTotalAttempt(i) }}
                </div>
            </th>
        </tr>
    </table>
    <div class="row mr-0 ml-0">        
        <table class="col-2 table table-dark">
            <tr>
                <th colspan="2" class="header">Cell colours</th>
            </tr>
            <tr>
                <td style="background-color: {{ firstAc }};">&nbsp;&nbsp;</td>
                <td>Solved first</td>
            </tr>
            <tr>
                <td style="background-color: {{ ac }};">&nbsp;&nbsp;</td>
                <td>Solved</td>
            </tr>
            <tr>
                <td style="background-color: {{ wa }};">&nbsp;&nbsp;</td>
                <td>Incorrect</td>
            </tr>
            <tr>
                <td style="background-color: {{ hiddenResult }};">&nbsp;&nbsp;</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;</td>
                <td>Untried</td>
            </tr>
        </table>
    </div>
</div>